.card{
    
    font-family: Arial, Helvetica, sans-serif;
    margin:auto;
    border: 1px #e1e1e1 solid;;
    width: 300px;
}
.card-cabeza{
    background: #808080;;
    font-size: 1.5em;;
    text-align: center;
    color:white;
    padding: 0.25em;;
}

.card-body{
    padding: 0.5em;
    font-style: italic;
    text-align: justify;
}

.card-pie{
    background: #d3d3d3;
    text-align: center;
    padding: 0.35em;;
}